body {
  font-family: Arial;
  background: #111;
  color: white;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ===== INDEX PAGE ===== */

.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 180px);
  gap: 20px;
  justify-content: center;
  width: 100%;
  max-width: 1000px;
  margin-top: 20px;
}

.game-card {
  width: 180px;
  height: 200px;
  background: #222;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.3s;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.game-card:hover {
  transform: scale(1.05);
  background: #333;
}

.icon {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-bottom: 10px;
}

.game-card h2 {
  font-size: 15px;
  text-align: center;
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.coming {
  opacity: 0.6;
}

/* ===== GAME PAGE ===== */

.back {
  margin-top: 20px;
  margin-bottom: 20px;
  display: inline-block;
  color: white;
  text-decoration: none;
  background: #333;
  padding: 8px 12px;
  border-radius: 6px;
}

.frame-wrapper {
  width: 1000px;
  height: 700px;
  transform-origin: top center;
  margin-top: 20px;
}

iframe {
  width: 1000px;
  height: 700px;
  border: none;
  background: black;
  border-radius: 10px;
  display: block;
}

.desc {
  max-width: 700px;
  margin: 20px auto;
  color: #ccc;
  text-align: center;
  margin-top: 0;
}

h1 {
  margin-top: 40px;
  margin-bottom: 10px;
}